@tailwind base;
@tailwind components;
@tailwind utilities;



.container{
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.just{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    text-align: center;
}